<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>メールアドレスでログイン</title>
</head>
<body>
    <div class="container mx-auto max-w-[600px]">
        <div class="mx-auto px-8 mt-10">

            <img class="object-contain w-full "src="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}/img/logo.png" alt="">

            <div class="items-center mt-8">
                <h2 class="font-bold mb-4 text-xl">メールアドレスで登録</h2>

                <form method="post" action="">
                    {% include 'login_form.html.twig' %}

                    <div>
                        <button onclick="location.href='{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}loginEmail.php'" class="bg-gray-800 hover:bg-gray-700 text-white  {{constant('music_matching_app\\master\\initMaster::BUTTON_MODEL')}} ">登録する</button>
                    </div>
                </form>

                <div>
                    <button onclick="location.href='{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}accountCreate.php'" class="border border-gray-900 text-gray-800 hover:text-gray-500  {{constant('music_matching_app\\master\\initMaster::BUTTON_MODEL')}} ">他の登録方法を見る</button>

                </div>
            </div>

        </div>
    </div>
</body>
</html>
