<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

    <title>管理画面 イベント一覧</title>
</head>
<body class="overflow-scroll overflow-x-hidden">
<div class="flex">

    {% include 'adminMenu.html.twig' %}

    <div class="w-full grow">
        <div class="px-10 mt-10">

            <div class="items-center mt-8">

                <h2 class="font-bold mb-4 text-xl">新規イベント登録</h2>

                <form action="">
                    <div>
                        <input class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  focus:border-blue-500 block w-full p-2.5" type="text" name="SearchBox" value="{{searchArr.SearchBox}}" placeholder="イベント名、アーティスト名、会場名で検索ができます。">
                    </div>

                    <div class="md:flex gap-4">
                        <div class="w-full">
                            <select class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full mt-4 p-2.5" name="Area">
                                <option value="">地域</option>
                                {% for area in areaArr %}
                                    <option value="{{area.area_id}}" {% if area.area_id == searchArr.Area %}selected{% endif %}>{{area.area}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="w-full">
                            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full mt-4 px-5 p-2.5 text-center inline-flex items-center" type="button">ジャンル
                                <svg class="w-2.5 h-2.5 ms-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-auto">
                                <ul class=" py-2 text-sm text-gray-700 " aria-labelledby="dropdownDefaultButton">
                                    <li>
                                        {% set all = 0 %}
                                        <input type="checkbox" name="Genre[]" value="0" id="0"  {% if all in searchGenreArr %} checked="checked" {% endif %}>
                                        <label for="0">全て</label>
                                    </li>
                                    {% for genre in genreArr %}
                                        <li>

                                        <input type="checkbox" name="Genre[]" value="{{genre.genre_id}}" id="{{genre.genre_id}}" {% if genre.genre_id in searchGenreArr %} checked="checked" {% endif %}>
                                        <label for="{{genre.genre_id}}">{{genre.genre}}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center gap-4">
                        <div class="relative w-1/2 mt-4">
                            <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                  <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                                </div>
                                <input datepicker datepicker-autohide type="text" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"  value="{{searchArr.From}}" name="From"  autocomplete="off" placeholder="開始日">
                            </div>
                        </div>
                        <div class="relative w-1/2 mt-4">
                            <div class="relative max-w-sm">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                  <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                                </div>
                                <input datepicker datepicker-autohide type="text" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 "  value="{{searchArr.To}}" name="To"  autocomplete="off" placeholder="終了日">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="display" value="{{display}}">

                    <div class="flex gap-4">
                        <div class="w-1/2 mt-4">
                            <button class="py-2 px-4 w-full border-b text-gray-900  text-lg  {% if display == '' %}font-medium border-gray-500{% else %}border-gray-300{% endif %}" type="submit" name="display" value="">
                            開催日順</button>
                        </div>
                        <div class="w-1/2 mt-4">
                            <button class="py-2 px-4 w-full border-b text-gray-900 text-lg  {% if display == 'new' %}font-medium border-gray-500{% else %}border-gray-300 {% endif %}" type="submit" name="display" value="new">登録順</button>
                        </div>
                    </div>


                    <div class="flex justify-end mt-4">
                        <a href="https://google.com" class="px-4 py-1 text-gray-900"><i class="fa-solid fa-file-arrow-down"></i> CSVエクスポート</a>
                        <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}admin/eventAdd.php" class="px-4 py-1 bg-sky-600 hover:bg-sky-500 rounded text-white"><i class="fa-solid fa-plus"></i> イベント新規登録</a>
                    </div>


                    <div class="flex flex-row-reverse mt-4">
                        <table class="w-full text-gray-900 text-center">
                            <thead class="text-lg bg-gray-100 py-2">
                                <tr>
                                    {% for column in tableHeader %}
                                        <th>{{column}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>

                            <tbody>
                                {% for row in res %}
                                <tr class="border-b bg-white">
                                    <td class="py-1">{{row.event_id}}</td>
                                    <td class="py-1">{{row.title}}</td>
                                    <td class="py-1">{{row.open_time}}</td>
                                    <td class="py-1">{{row.area}}</td>
                                    <td class="py-1">{{row.venue}}</td>
                                    <td class="py-1">{{row.number_of_participants}}</td>
                                    <td class="py-1">{{row.favorites}}</td>
                                    <td class="py-1">
                                        <a href="https://google.com" class="px-4 py-1 bg-gray-600 hover:bg-gray-500 rounded text-white">詳細</a>
                                    </td>
                                    <td class="py-2">
                                        <a href="https://google.com" class="px-4 py-1 bg-gray-600 hover:bg-gray-500 rounded text-white">編集</a>
                                    </td>
                                    <td class="py-1">
                                        <a href="https://google.com" class="px-4 py-1 bg-red-500 hover:bg-red-400 rounded text-white">削除</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>



                    <div class="mt-8 flex justify-center">
                        <div class="my-auto pr-8">
                        {% if page > 1 %}
                            <button name="page" value="{{page - 1}}"><i class="fa-solid fa-angles-left"></i></button>
                        {% else %}
                            &emsp;
                        {% endif %}
                        </div>

                        <div>
                            {{page}}
                        </div>

                        <div class="my-auto pl-8">
                        {% if page < maxPage %}
                            <button name="page" value="{{page + 1}}"><i class="fa-solid fa-angles-right"></i></button>
                        {% else %}
                            &emsp;
                        {% endif %}
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/datepicker.min.js"></script>
</body>
</html>






<div class="mt-4">
    <div>
        <label class="text-gray-700">アイコン:</label>
    </div>
    <div class="pt-2 object-contain h-20 w-20 ">
        {% if display == ''%}
            {% if myProfile.icon | length > 0 %}
                <img src="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}user_image/{{myProfile.icon}}" alt="">
            {% else %}
                <div class="p-8 bg-gray-100">
                    <i class="fa-solid fa-camera"></i>
                </div>
            {% endif %}
        {% else %}
            a
        {% endif %}
    </div>
</div>

<div class="mt-8">
    <div>
        <label class="text-gray-700">ニックネーム:</label>
    </div>
    <div class="pt-2">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-normal focus:outline-none" type="text"   name="nickname" value="{{myProfile.nickname}}" {% if display == ''%}readonly{% endif %}>
    </div>
</div>

<div class="mt-8">
    <div>
        <label class="text-gray-700">ユーザーID:</label>
    </div>
    <div class="pt-2">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-normal focus:outline-none" type="text"   name="user_id" value="{{myProfile.user_id}}" {% if display == ''%}readonly{% endif %}>
    </div>
</div>

<div class="mt-8">
    <div>
        <label class="text-gray-700">自己紹介:</label>
    </div>
    <div class="pt-2">
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-normal focus:outline-none" name="self_introduction" rows="8" cols="40" {% if display == ''%}readonly{% endif %}>{{myProfile.self_introduction}}</textarea>
    </div>
</div>

<div class="mt-8">
    <div>
        <label class="text-gray-700">ジャンル:</label>
    </div>
    <div class="pt-2">
        {% if display == '' %}
            <div class="flex shadow appearance-none border rounded w-full py-3 px-2 text-gray-700 leading-normal focus:outline-none">
                <span id="checked_genre" class="flex flex-wrap">
                {% for genre in myProfile.genre %}
                    <div class="text-sm text-sky-500 mx-2 px-2 my-1 bg-gray-100">
                    {{genre}}
                    </div>
                {% endfor %}
                </span>
            </div>
        {% else %}
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class=" border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full mt-4 px-5 p-2.5 text-center inline-flex items-center" type="button">
                {# ここに選択したジャンルを書く #}
                <span id="checked_genre" class="flex flex-wrap">ジャンルを選択してください</span>
                <svg class="w-2.5 h-2.5 ms-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-auto" data-popper-placement="bottom">
                <ul class="text-sm text-gray-700 px-10" aria-labelledby="dropdownDefaultButton" >
                    {% for genre in genreArr %}
                    <li>
                        <input type="checkbox" name="Genre[]" value="{{genre.genre_id}}" id="{{genre.genre_id}}" {% if genre.genre_id in searchGenreArr %} checked="checked" {% endif %}>
                        <label for="{{genre.genre_id}}" id="test" value="a">{{genre.genre}}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>

<div class="mt-8">
    <div>
        <label class="text-gray-700">性別:</label>
    </div>
    <div class="pt-2">
        {% for gender in genderArr %}
            <div class="pt-2">
                <label class="text-gray-700">{{gender.gender}}</label>
                <input type="radio" name="gender[]" value="{{gender.gender_id}}" {% if gender.gender == myProfile.gender %} checked {% else %} {% if display == ''%}disabled{% endif %} {% endif %} >
            </div>
        {% endfor %}
    </div>
</div>

<div class="mt-8">
    <div>
        <label class="text-gray-700">年代:</label>
    </div>
    <div class="pt-2">
        <select class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full mt-4 p-2.5" name="area" {% if display == '' %}disabled{% endif %}>
            {% for age in ageArr %}
                <option value="{{age.age_id}}" {% if age.age == myProfile.age %} selected {% endif %}>{{age.age}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="my-8">
    <div>
        <label class="text-gray-700">住んでる地域:</label>
    </div>
    <div class="pt-2">
        <select class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full mt-4 p-2.5" name="area" {% if display == '' %}disabled{% endif %}>
            {% for area in areaArr %}
                <option value="{{area.area_id}}" {% if area.area == myProfile.area %} selected {% endif %}>{{area.area}}</option>
            {% endfor %}
        </select>
    </div>
</div>
