<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    あなたの状態を教えてください。
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="regist" method="post" action="participation.php">
                <input type="hidden" name="regist" value="regist">
                <input type="hidden" name="event_id" value="{{eventDetail.event_id}}">
                <div class="p-4 md:p-5 space-y-4">
                    {% for status in statusArr %}
                        <div>
                           <input type="radio" name="status" id="{{status.status_id}}" value="{{status.status_id}}" {% if status.status_id == participationStatus %}checked{% endif %}>
                            <label class="text-base leading-relaxed text-gray-500 dark:text-gray-400" for="{{status.status_id}}">{{status.status}}</label>
                        </div>
                    {% endfor %}

                    <button id="participation_button" type="submit" class="py-3 w-full bg-gray-800 hover:bg-gray-700 rounded text-white font-bold" data-modal-hide="default-modal">{% if participationStatus != '' and participationStatus != 99 %}状態を変更する{% else %}状態を登録して参加する{% endif %}</button>
                </div>
            </form>
            <!-- Modal footer -->
            {# 状態が登録されている場合のみ以下を表示 #}
            <div id="cancel_button" style="display: none;">
                <form id="cancel" method="post" action="participation.php">
                    <input type="hidden" name="cancel" value="cancel">
                    <input type="hidden" name="event_id" value="{{eventDetail.event_id}}">
                    <div class="p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                       <div class="pb-2">
                           <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">参加をキャンセルする場合は、以下ボタンを押してください。</p>
                       </div>
                       <button type="submit"class="py-3 w-full bg-red-700 hover:bg-red-600 rounded text-white font-bold" data-modal-hide="default-modal">参加をキャンセルする</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
