<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>accountCreate</title>
</head>
<body class="overflow-scroll">
    <div class="container mx-auto max-w-[600px]">
        <div class="mx-auto px-8 mt-10">

            <img class="object-contain w-full "src="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}/img/logo.png" alt="">

            <div class="items-center mt-8">
                <h2 class="font-bold mb-4 text-xl">パスワード再設定</h2>

                <p class="text-gray-700 text-sm mb-10">ご登録のメールアドレスをご記入の上、送信してください。パスワード再設定の手順をお送りします。</p>

                <form method="post" action="">
                    <div>
                        <label class="text-gray-700 text-sm">メールアドレス:</label>
                    </div>

                    <div>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-normal focus:outline-none focus:ring-2 ring-slate-200 mb-6" type="text" name="mail_address">
                    </div>

                    <div>
                        <button onclick="location.href='{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}forgotPassword.php'" class="bg-gray-800 hover:bg-gray-700 text-white  {{constant('music_matching_app\\master\\initMaster::BUTTON_MODEL')}} ">送信する</button>
                    </div>
                </form>

                <div>
                    <button onclick="location.href='{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}login.php'" class="border border-gray-900 text-gray-800 hover:text-gray-500  {{constant('music_matching_app\\master\\initMaster::BUTTON_MODEL')}} ">ログインに戻る</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
