<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-2/3 md:w-1/4 md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 h-[calc(100%-1rem)] w-full">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Music Matching App
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 text-xs md:text-base  space-y-4">
                <ul class="list-none leading-10 text-gray-500 mx-auto">
                    {% if is_login == 0 %}
                        <li class="hover:text-gray-800">
                            <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}accountCreate.php">新規登録 <i class="fa-solid fa-person"></i></a>
                        </li>
                        <li class="hover:text-gray-800">
                            <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}login.php">ログイン <i class="fa-solid fa-right-to-bracket"></i></a>
                        </li>
                    {% else %}
                        <li class="hover:text-gray-800">
                            <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}myProfile.php">プロフィール <i class="fa-solid fa-person"></i></a>
                        </li>
                    {% endif %}

                    <li class="hover:text-gray-800">
                        <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}eventlist.php">直近のライブ <i class="fa-solid fa-calendar-week"></i></a>
                    </li>
                    <li class="hover:text-gray-800">
                        <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}eventlist.php?display=new">新着のライブ <i class="fa-solid fa-plus"></i></a>
                    </li>
                    <li class="hover:text-gray-800">
                        <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}eventlist.php?display=my_favorite">お気に入り <i class="fa-regular fa-heart"></i></a>
                    </li>

                    {% if is_login == 1 %}
                        <li class="hover:text-gray-800">
                            <a href="{{constant('music_matching_app\\Bootstrap::ENTRY_URL')}}logout.php">ログアウト <i class="fa-solid fa-right-from-bracket"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
